@use '../../../../../theme/material-theme.scss' as *;

.table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        height: 10px;
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 24px;
        height: 10px;
        background-color: $dark-bg-alpha-12;
    }

    .it-table {
        width: 100%;
    }
}

.header-columns {    
    th {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: map-get($map: $mat-accent, $key: darker);
        font-size: 14px;
    }
}

tr:not(:is(.header-columns, .footer-row)):hover {
    background-color: rgba($color: map-get($mat-accent, main), $alpha: .10);
}


.bold {
    font-weight: 700;
}