@import '../../../../../theme/material-theme.scss';

.it-table {
    width: 100%;
}

.header-columns {    
    th {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: map-get($map: $mat-accent, $key: darker);
        font-size: 14px;
    }
}

tr:not(.header-columns):hover {
    background-color: rgba($color: map-get($mat-accent, main), $alpha: .10);
}