<h3 mat-dialog-title>{{'CATEGORY.FORM.CREATE' | translate}}</h3>
<p>{{'CATEGORY.FORM.MESSAGE' | translate}}</p>
<mat-form-field appearance="outline">
    <mat-label>{{'CATEGORY.FORM.CATEGORY' | translate}}</mat-label>
    <input type="text" matInput [formControl]="control">
    <mat-hint>{{'CATEGORY.FORM.CATEGORY_MINMAX' | translate : { min: 4, max: 40 } }}</mat-hint>
    <mat-error *ngIf="control.hasError('required')">{{'CATEGORY.FORM.FIELD_REQUIRED' | translate}}</mat-error>
    <mat-error *ngIf="control.hasError('minlength')">{{'CATEGORY.FORM.CATEGORY_MINLENGTH' | translate}}</mat-error>
    <mat-error *ngIf="control.hasError('maxlength')">{{'CATEGORY.FORM.CATEGORY_MAXLENGTH' | translate}}</mat-error>
</mat-form-field>
<div class="action-buttons">
    <button mat-button color="primary" mat-dialog-close>{{'CATEGORY.FORM.BACK' | translate}}</button>
    <button mat-flat-button color="primary" [disabled]="control.invalid" [mat-dialog-close]="{name: control.value}">{{'CATEGORY.FORM.CONFIRM' | translate}}</button>
</div>