<h3 mat-dialog-title>{{'ENTRYS.NEW_ENTRY' | translate}}</h3>
<p>{{'ENTRYS.FORM.MESSAGE' | translate}}</p>
<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>{{'ENTRYS.FORM.CATEGORY' | translate}}</mat-label>
        <mat-select [aria-label]="'ENTRYS.FORM.CATEGORY' | translate" formControlName="idCategoria">
            <mat-option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
        <mat-hint>{{'ENTRYS.FORM.SELECT_CATEGORY' | translate}}</mat-hint>
        <mat-error *ngIf="formGroup.get('idCategoria').invalid">{{'ENTRYS.FORM.CATEGORY_REQUIRED' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{'ENTRYS.FORM.DESCRIPTION' | translate}}</mat-label>
        <input type="text" formControlName="description" matInput>
        <mat-hint>{{'ENTRYS.FORM.DESCRIPTION_MINMAX' | translate: {min: 10, max: 40} }}</mat-hint>
        <mat-error *ngIf="formGroup.get('description').hasError('required')">{{'ENTRYS.FORM.DESCRIPTION_REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="formGroup.get('description').hasError('minLength')">{{'ENTRYS.FORM.DESCRIPTION_MINLENGTH' | translate}}</mat-error>
        <mat-error *ngIf="formGroup.get('description').hasError('maxLength')">{{'ENTRYS.FORM.DESCRIPTION_MAXLENGTH' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{'ENTRYS.FORM.OCCURRENCE_DATE' | translate}}</mat-label>
        <input formControlName="date" matInput [matDatepicker]="datepicker" (dateChange)="updateDate($event)">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-hint>{{'ENTRYS.FORM.TOGGLE_CALENDAR' | translate}}</mat-hint>
        <mat-error *ngIf="formGroup.get('date').hasError('required')">{{'ENTRYS.FORM.DATE_REQUIRED' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{'ENTRYS.FORM.VALUE' | translate}}</mat-label>
        <input formControlName="value" matInput type="number">
        <mat-error *ngIf="formGroup.get('value').hasError('required')">{{'ENTRYS.FORM.VALUE_REQUIRED' | translate}}</mat-error>
    </mat-form-field>
</form>
<div class="action-buttons">
    <button mat-button color="primary" mat-dialog-close>{{'ENTRYS.FORM.BACK' | translate}}</button>
    <button mat-flat-button color="primary" [disabled]="formGroup.invalid" [mat-dialog-close]="formGroup.value">{{'ENTRYS.FORM.CONFIRM' | translate}}</button>
</div>