<h3 mat-dialog-title>{{'GEN.REMOVE_QUESTION' | translate}}</h3>
<p>{{'GEN.CONTINUE_MESSAGE' | translate}}</p>
<mat-form-field appearance="outline">
    <mat-label>{{'GEN.CONFIRM' | translate}}</mat-label>
    <input type="text" matInput [formControl]="control">
</mat-form-field>
<div class="action-buttons">
    <button mat-button color="primary" mat-dialog-close>{{'GEN.CANCEL' | translate}}</button>
    <button mat-flat-button color="primary" [disabled]="control.invalid" [mat-dialog-close]="true">{{'GEN.SEND_REQUEST' | translate}}</button>
</div>